In [2]:
import time
import pandas as pd
#import selenium as sel
#from selenium import webdriver
#from selenium.webdriver.support.ui import WebDriverWait,Select
#from selenium.webdriver.support import expected_conditions as EC
#from selenium.webdriver.common.by import By
#from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import tabula as tab
from PyPDF2 import PdfFileReader
import camelot as clot
import numpy as np
import os
import glob

In [2]:
########################## selenium part
driver_chrome_path=r'chromedriver.exe'
url='https://www.mobil.com/en/lubricants/what-to-buy/find-the-right-motor-oil/'
rows=pd.DataFrame(columns=['year','make','model','engine','oil_recommendation','oil_filter_recommendation'])
row={}

In [ ]:
driver_info=webdriver.Chrome(executable_path=driver_chrome_path)
driver_info.get(url)
options0=Select(WebDriverWait(driver_info,100)
.until(EC.visibility_of_element_located((By.XPATH,'//select[@id="select0"]'))))
try:
    for i in options0.options:
        options0.select_by_visible_text(i.text)
        row['year']=i.text
        options1= Select(WebDriverWait(driver_info,100)
        .until(EC.element_to_be_clickable((By.XPATH,'//select[@id="select1"]'))))
        for x in options1.options:
            row['make']=i.text
            options1.select_by_visible_text(x.text)
            options2= Select(WebDriverWait(driver_info,100)
            .until(EC.element_to_be_clickable((By.XPATH,'//select[@id="select2"]'))))
            for y in options2.options:
                options2.select_by_visible_text(y.text)
                row['model']=y.text
                options3= Select(WebDriverWait(driver_info,100)
                .until(EC.element_to_be_clickable((By.XPATH,'//select[@id="select3"]'))))
                for z in options3.options:
                    options3.select_by_visible_text(z.text)
                    row['engine']=z.text
                    row['oil_recommendation']=None
                    row['oil_recommendation_filter']=None
                    print(row)
                    rows=rows.append(row,ignore_index=True)
                    pass
                pass
            pass
        pass
    
except StaleElementReferenceException:
    pass    
driver_info.quit()

In [52]:
tables=clot.read_pdf("01-09-05-09-2019.pdf")
tables

In [91]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [184]:
df=tab.read_pdf("transilated\\01-09-05-09-2019.ar.en[5-8].pdf",pages='all',multiple_tables=False,encoding='utf-8',pandas_options={'dtype':str})

In [185]:
#df[0].astype(str).replace(np.nan,'').fillna('',inplace=True)
df=df[0].loc[:,~df[0].columns.str.startswith('Unnamed')]
df.columns=df.columns.str.replace(' ','_').str.strip(' ')

In [186]:
#df.dropna(inplace=True)
df=df[df['the_site'].notna()]

In [187]:
df.replace(np.nan,'')

                       the_site      the_piece    space  the_description  property_type          The_price  governorate    Notes
0                         Fatty              5    487.5            House        Special        550,000.000            1
1                          Doha              2    357.5            House        Special        178,000.000            1
2                      the East              7     1000         building     investment  6,700,000,000,000            1
3                     Al-Fayha'              6      750            House        Special        720,000.000            1
4                     Qadisiyah              8      500            House        Special        450,000.000            1
5                    Mansourieh              2     1000            House        Special      1,100,000,000            1
6                Jaber Al-Ahmad              5      400            House        Special        275,000,000            1
7                Jaber Al-Ahmad              7      400            House        Special        220,000.000            1
8                Jaber Al-Ahmad              5      400            House        Special        295,000.000            1
9                       Granada              1     1316             Land        Special      1,050,000.000            1
10                      Granada              1     1543            House        Special      1,050,000.000            1
11                      Granada              2    458.5            House        Special        300,000,000            1
12                      Cordoba              2      551             Land        Special        460,000.000            1
13                      Cordoba              2      510            House        Special        475,000.000            1
15                     the site      the piece    space  the description  property type          The price  governorate    Notes
16                      Jabriya              9      600            House        Special        388,000.000            2
17                      Jabriya              _   102.26        apartment     investment        105,000,000            2
18                   Rumaithiya              6  321.428            House        Special        214,285.700            2  rumored
19                        Zahra              3      500             Land        Special        480,000,000            2
20                      Salmiya              _      815         building     investment  1,200,000,000,000            2
21                      Salmiya            185      785         building     investment        805,628,000            2
22                      Salmiya             70     1005         building     investment  1,500,000,000,000            2
23                      Salmiya              _    100.5        apartment     investment        100,000.000            2
24                      Salmiya              _    100.5        apartment     investment         96,000,000            2
25                      Salmiya             45    12000          complex     commercial     64,000,000.000            2
26                        Peace              6      450            House        Special    625,000,000,000            2
27                      Martyrs              1      390            House        Special        408,000.000            2
28                     statment             11      300            House        Special        200,000,000            2
29                     statment              9      300            House        Special        260,000.000            2
30                       Hittin              1      375            House        Special        510,000.000            2
31                       Hittin              3      375            House        Special        375,000.000            2
32                        Salwa              2    504.5            House        Special    355,000,000,000            2  rumored
33                        Salwa              4    626.8            House        Special        650,000.000            2
34                   Supervisor              5      750            House        Special        480,000,000            2
36                     the site      the piece    space  the description  property type          The price  governorate    Notes
37                Abraq Khaitan              5      600            House        Special        280,000,000            3
42                      Al-Raqi             13      500         building     investment      1,056,352,000            3
43                      Al-Raqi             13      500         building     investment      1,056,352,000            3
44                          age              1      600            House        Special        420,000.000            3
45                     paradise              8      301            House        Special        190,000,000            3
46                     paradise              6      301            House        Special        205,000,000            3
47            Jleeb Al-Shuyoukh             14      400            House        Special        270,000,000            3
48                      Khaitan              9     1155         building     investment  1,800,000,000,000            3
50                     the site      the piece    space  the description  property type          The price  governorate    Notes
51                   Abu Fatira              1      400             Land        Special        370,000,000            4
52                   Abu Fatira             10      750             Land        Special        610,000.000            4
53                  Al-Fnaitees              1      400             Land        Special        275,000,000            4
54                  Al-Fnaitees              8      400             Land        Special        415,000.000            4
55                       spouse              2      400            House        Special        239,000.000            4
56                       flumes              2      500             Land        Special        292,000.000            4
57                       flumes              2      500             Land        Special        292,000.000            4
58                       flumes              2      500             Land        Special        332,000,000            4
59                       flumes              5      400             Land        Special        330,000,000            4
60                       flumes              2      500             Land        Special        292,000.000            4
61                       flumes              2      500             Land        Special        282,000,000            4
62                       flumes              2      500             Land        Special        282,000,000            4
63                       flumes              5      400             Land        Special        330,000,000            4
64                       flumes              1      500             Land        Special        350,000.000            4
65               Sabah Al-Salem              _    109.5        apartment     investment        110,000.000            4
67                     the site      the piece    space  the description  property type          The price  governorate    Notes
68                      morning              4  215.789            House        Special        197,807.006            5  rumored
94          Sabah Al-Ahmad Navy              _      402             Land        Special         80,000,000            5
95          Sabah Al-Ahmad Navy              _      450             Land        Special        165,000,000            5
96          Sabah Al-Ahmad Navy              _      500            House        Special    345,000,000,000            5
97          Sabah Al-Ahmad Navy              _   44.864             Shop     commercial         48,000,000            5
98          Sabah Al-Ahmad Navy              _   50,564             Shop     commercial         54,000.000            5
99          Sabah Al-Ahmad Navy              _   32.955             Shop     commercial         45,000,000            5
100         Sabah Al-Ahmad Navy              _   35.317             Shop     commercial        110,000.000            5
101         Sabah Al-Ahmad Navy              _   34.943             Shop     commercial        100,000.000            5
102         Sabah Al-Ahmad Navy              _   33.542             Shop     commercial         57,000,000            5
103  Sabah Al-Ahmad Residential              2      600            House        Special        160,000.000            5
104  Sabah Al-Ahmad Residential              2      600            House        Special        176,000,000            5
105  Sabah Al-Ahmad Residential              4      600            House        Special        242,000,000            5
106  Sabah Al-Ahmad Residential              2      600            House        Special        199,000.000            5
107          Ali Sabah Al Salem              8      400            House        Special        162,000,000            5
108              Fahad Al-Ahmad              4      400            House        Special        305,000,000            5
109                     Present              1     1000             Land        Special        430,000,000            5
110                     Present              5      400            House        Special        275,000,000            5
112                    the site      the piece    space  the description  property type          The price  governorate    Notes
113                    the eyes              4   297.68            House        Special        165,500,000            6
119             the description      The price     note
120                        Land  000.000,001,0
121                        Land  000.000,001,0
122                        Land  000.000,001,0
123                        Land  000.000,001,0
124                        Land  000.000,001,0
125                        Land  000.000,001,0
126                       House    000.000,035
127                       House    000.000,040
128                        Land        500.000

In [229]:
df2=tab.read_pdf("transilated\\01-09-05-09-2019.ar.en[5-8].pdf",pages=4,multiple_tables=False,pandas_options={'dtype':str})
df2[0].columns=df2[0].columns.str.replace(' ','_').str.strip(' ')

In [230]:
df2[0]

   the_site    space the_description property_type      The_price Governorate note
0  Mahboula  25. 971            Land    investment  000.000,001,0           5  NaN
1  Mahboula     0100            Land    investment  000.000,001,0           5  NaN
2  Mahboula     0100            Land    investment  000.000,001,0           5  NaN
3  Mahboula  25. 971            Land    investment  000.000,001,0           5  NaN
4  Mahboula  25. 971            Land    investment  000.000,001,0           5  NaN
5  Mahboula  25. 971            Land    investment  000.000,001,0           5  NaN
6     Salwa      360           House       Special    000.000,035           2  NaN
7   Seville      375           House       Special    000.000,040           3  NaN
8   Present      750            Land       Special        500.000           5  NaN

In [205]:
df.reset_index(inplace=True)

    index                    the_site  the_piece    space  the_description  property_type          The_price  governorate    Notes
0       0                       Fatty          5    487.5            House        Special        550,000.000            1      NaN
1       1                        Doha          2    357.5            House        Special        178,000.000            1      NaN
2       2                    the East          7     1000         building     investment  6,700,000,000,000            1      NaN
3       3                   Al-Fayha'          6      750            House        Special        720,000.000            1      NaN
4       4                   Qadisiyah          8      500            House        Special        450,000.000            1      NaN
5       5                  Mansourieh          2     1000            House        Special      1,100,000,000            1      NaN
6       6              Jaber Al-Ahmad          5      400            House        Special        275,000,000            1      NaN
7       7              Jaber Al-Ahmad          7      400            House        Special        220,000.000            1      NaN
8       8              Jaber Al-Ahmad          5      400            House        Special        295,000.000            1      NaN
9       9                     Granada          1     1316             Land        Special      1,050,000.000            1      NaN
10     10                     Granada          1     1543            House        Special      1,050,000.000            1      NaN
11     11                     Granada          2    458.5            House        Special        300,000,000            1      NaN
12     12                     Cordoba          2      551             Land        Special        460,000.000            1      NaN
13     13                     Cordoba          2      510            House        Special        475,000.000            1      NaN
14     14                    the site  the piece    space  the description  property type          The price  governorate    Notes
15     15                     Jabriya          9      600            House        Special        388,000.000            2      NaN
16     16                     Jabriya          _   102.26        apartment     investment        105,000,000            2      NaN
17     17                  Rumaithiya          6  321.428            House        Special        214,285.700            2  rumored
18     18                       Zahra          3      500             Land        Special        480,000,000            2      NaN
19     19                     Salmiya          _      815         building     investment  1,200,000,000,000            2      NaN
20     20                     Salmiya        185      785         building     investment        805,628,000            2      NaN
21     21                     Salmiya         70     1005         building     investment  1,500,000,000,000            2      NaN
22     22                     Salmiya          _    100.5        apartment     investment        100,000.000            2      NaN
23     23                     Salmiya          _    100.5        apartment     investment         96,000,000            2      NaN
24     24                     Salmiya         45    12000          complex     commercial     64,000,000.000            2      NaN
25     25                       Peace          6      450            House        Special    625,000,000,000            2      NaN
26     26                     Martyrs          1      390            House        Special        408,000.000            2      NaN
27     27                    statment         11      300            House        Special        200,000,000            2      NaN
28     28                    statment          9      300            House        Special        260,000.000            2      NaN
29     29                      Hittin          1      375            House        Special        510,000.000            2      NaN
30     30                      Hittin          3      375            House        Special        375,000.000            2      NaN
31     31                       Salwa          2    504.5            House        Special    355,000,000,000            2  rumored
32     32                       Salwa          4    626.8            House        Special        650,000.000            2      NaN
33     33                  Supervisor          5      750            House        Special        480,000,000            2      NaN
34     34                    the site  the piece    space  the description  property type          The price  governorate    Notes
35     35               Abraq Khaitan          5      600            House        Special        280,000,000            3      NaN
36     36                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN
37     37                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN
38     38                         age          1      600            House        Special        420,000.000            3      NaN
39     39                    paradise          8      301            House        Special        190,000,000            3      NaN
40     40                    paradise          6      301            House        Special        205,000,000            3      NaN
41     41           Jleeb Al-Shuyoukh         14      400            House        Special        270,000,000            3      NaN
42     42                     Khaitan          9     1155         building     investment  1,800,000,000,000            3      NaN
43     43                    the site  the piece    space  the description  property type          The price  governorate    Notes
44     44                  Abu Fatira          1      400             Land        Special        370,000,000            4      NaN
45     45                  Abu Fatira         10      750             Land        Special        610,000.000            4      NaN
46     46                 Al-Fnaitees          1      400             Land        Special        275,000,000            4      NaN
47     47                 Al-Fnaitees          8      400             Land        Special        415,000.000            4      NaN
48     48                      spouse          2      400            House        Special        239,000.000            4      NaN
49     49                      flumes          2      500             Land        Special        292,000.000            4      NaN
50     50                      flumes          2      500             Land        Special        292,000.000            4      NaN
51     51                      flumes          2      500             Land        Special        332,000,000            4      NaN
52     52                      flumes          5      400             Land        Special        330,000,000            4      NaN
53     53                      flumes          2      500             Land        Special        292,000.000            4      NaN
54     54                      flumes          2      500             Land        Special        282,000,000            4      NaN
55     55                      flumes          2      500             Land        Special        282,000,000            4      NaN
56     56                      flumes          5      400             Land        Special        330,000,000            4      NaN
57     57                      flumes          1      500             Land        Special        350,000.000            4      NaN
58     58              Sabah Al-Salem          _    109.5        apartment     investment        110,000.000            4      NaN
59     59                    the site  the piece    space  the description  property type          The price  governorate    Notes
60     60                     morning          4  215.789            House        Special        197,807.006            5  rumored
61     61         Sabah Al-Ahmad Navy          _      402             Land        Special         80,000,000            5      NaN
62     62         Sabah Al-Ahmad Navy          _      450             Land        Special        165,000,000            5      NaN
63     63         Sabah Al-Ahmad Navy          _      500            House        Special    345,000,000,000            5      NaN
64     64         Sabah Al-Ahmad Navy          _   44.864             Shop     commercial         48,000,000            5      NaN
65     65         Sabah Al-Ahmad Navy          _   50,564             Shop     commercial         54,000.000            5      NaN
66     66         Sabah Al-Ahmad Navy          _   32.955             Shop     commercial         45,000,000            5      NaN
67     67         Sabah Al-Ahmad Navy          _   35.317             Shop     commercial        110,000.000            5      NaN
68     68         Sabah Al-Ahmad Navy          _   34.943             Shop     commercial        100,000.000            5      NaN
69     69         Sabah Al-Ahmad Navy          _   33.542             Shop     commercial         57,000,000            5      NaN
70     70  Sabah Al-Ahmad Residential          2      600            House        Special        160,000.000            5      NaN
71     71  Sabah Al-Ahmad Residential          2      600            House        Special        176,000,000            5      NaN
72     72  Sabah Al-Ahmad Residential          4      600            House        Special        242,000,000            5      NaN
73     73  Sabah Al-Ahmad Residential          2      600            House        Special        199,000.000            5      NaN
74     74          Ali Sabah Al Salem          8      400            House        Special        162,000,000            5      NaN
75     75              Fahad Al-Ahmad          4      400            House        Special        305,000,000            5      NaN
76     76                     Present          1     1000             Land        Special        430,000,000            5      NaN
77     77                     Present          5      400            House        Special        275,000,000            5      NaN
78     78                    the site  the piece    space  the description  property type          The price  governorate    Notes

In [206]:
df.drop(columns=['index'],inplace=True)

                      the_site  the_piece    space  the_description  property_type          The_price  governorate    Notes
0                        Fatty          5    487.5            House        Special        550,000.000            1      NaN
1                         Doha          2    357.5            House        Special        178,000.000            1      NaN
2                     the East          7     1000         building     investment  6,700,000,000,000            1      NaN
3                    Al-Fayha'          6      750            House        Special        720,000.000            1      NaN
4                    Qadisiyah          8      500            House        Special        450,000.000            1      NaN
5                   Mansourieh          2     1000            House        Special      1,100,000,000            1      NaN
6               Jaber Al-Ahmad          5      400            House        Special        275,000,000            1      NaN
7               Jaber Al-Ahmad          7      400            House        Special        220,000.000            1      NaN
8               Jaber Al-Ahmad          5      400            House        Special        295,000.000            1      NaN
9                      Granada          1     1316             Land        Special      1,050,000.000            1      NaN
10                     Granada          1     1543            House        Special      1,050,000.000            1      NaN
11                     Granada          2    458.5            House        Special        300,000,000            1      NaN
12                     Cordoba          2      551             Land        Special        460,000.000            1      NaN
13                     Cordoba          2      510            House        Special        475,000.000            1      NaN
14                    the site  the piece    space  the description  property type          The price  governorate    Notes
15                     Jabriya          9      600            House        Special        388,000.000            2      NaN
16                     Jabriya          _   102.26        apartment     investment        105,000,000            2      NaN
17                  Rumaithiya          6  321.428            House        Special        214,285.700            2  rumored
18                       Zahra          3      500             Land        Special        480,000,000            2      NaN
19                     Salmiya          _      815         building     investment  1,200,000,000,000            2      NaN
20                     Salmiya        185      785         building     investment        805,628,000            2      NaN
21                     Salmiya         70     1005         building     investment  1,500,000,000,000            2      NaN
22                     Salmiya          _    100.5        apartment     investment        100,000.000            2      NaN
23                     Salmiya          _    100.5        apartment     investment         96,000,000            2      NaN
24                     Salmiya         45    12000          complex     commercial     64,000,000.000            2      NaN
25                       Peace          6      450            House        Special    625,000,000,000            2      NaN
26                     Martyrs          1      390            House        Special        408,000.000            2      NaN
27                    statment         11      300            House        Special        200,000,000            2      NaN
28                    statment          9      300            House        Special        260,000.000            2      NaN
29                      Hittin          1      375            House        Special        510,000.000            2      NaN
30                      Hittin          3      375            House        Special        375,000.000            2      NaN
31                       Salwa          2    504.5            House        Special    355,000,000,000            2  rumored
32                       Salwa          4    626.8            House        Special        650,000.000            2      NaN
33                  Supervisor          5      750            House        Special        480,000,000            2      NaN
34                    the site  the piece    space  the description  property type          The price  governorate    Notes
35               Abraq Khaitan          5      600            House        Special        280,000,000            3      NaN
36                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN
37                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN
38                         age          1      600            House        Special        420,000.000            3      NaN
39                    paradise          8      301            House        Special        190,000,000            3      NaN
40                    paradise          6      301            House        Special        205,000,000            3      NaN
41           Jleeb Al-Shuyoukh         14      400            House        Special        270,000,000            3      NaN
42                     Khaitan          9     1155         building     investment  1,800,000,000,000            3      NaN
43                    the site  the piece    space  the description  property type          The price  governorate    Notes
44                  Abu Fatira          1      400             Land        Special        370,000,000            4      NaN
45                  Abu Fatira         10      750             Land        Special        610,000.000            4      NaN
46                 Al-Fnaitees          1      400             Land        Special        275,000,000            4      NaN
47                 Al-Fnaitees          8      400             Land        Special        415,000.000            4      NaN
48                      spouse          2      400            House        Special        239,000.000            4      NaN
49                      flumes          2      500             Land        Special        292,000.000            4      NaN
50                      flumes          2      500             Land        Special        292,000.000            4      NaN
51                      flumes          2      500             Land        Special        332,000,000            4      NaN
52                      flumes          5      400             Land        Special        330,000,000            4      NaN
53                      flumes          2      500             Land        Special        292,000.000            4      NaN
54                      flumes          2      500             Land        Special        282,000,000            4      NaN
55                      flumes          2      500             Land        Special        282,000,000            4      NaN
56                      flumes          5      400             Land        Special        330,000,000            4      NaN
57                      flumes          1      500             Land        Special        350,000.000            4      NaN
58              Sabah Al-Salem          _    109.5        apartment     investment        110,000.000            4      NaN
59                    the site  the piece    space  the description  property type          The price  governorate    Notes
60                     morning          4  215.789            House        Special        197,807.006            5  rumored
61         Sabah Al-Ahmad Navy          _      402             Land        Special         80,000,000            5      NaN
62         Sabah Al-Ahmad Navy          _      450             Land        Special        165,000,000            5      NaN
63         Sabah Al-Ahmad Navy          _      500            House        Special    345,000,000,000            5      NaN
64         Sabah Al-Ahmad Navy          _   44.864             Shop     commercial         48,000,000            5      NaN
65         Sabah Al-Ahmad Navy          _   50,564             Shop     commercial         54,000.000            5      NaN
66         Sabah Al-Ahmad Navy          _   32.955             Shop     commercial         45,000,000            5      NaN
67         Sabah Al-Ahmad Navy          _   35.317             Shop     commercial        110,000.000            5      NaN
68         Sabah Al-Ahmad Navy          _   34.943             Shop     commercial        100,000.000            5      NaN
69         Sabah Al-Ahmad Navy          _   33.542             Shop     commercial         57,000,000            5      NaN
70  Sabah Al-Ahmad Residential          2      600            House        Special        160,000.000            5      NaN
71  Sabah Al-Ahmad Residential          2      600            House        Special        176,000,000            5      NaN
72  Sabah Al-Ahmad Residential          4      600            House        Special        242,000,000            5      NaN
73  Sabah Al-Ahmad Residential          2      600            House        Special        199,000.000            5      NaN
74          Ali Sabah Al Salem          8      400            House        Special        162,000,000            5      NaN
75              Fahad Al-Ahmad          4      400            House        Special        305,000,000            5      NaN
76                     Present          1     1000             Land        Special        430,000,000            5      NaN
77                     Present          5      400            House        Special        275,000,000            5      NaN
78                    the site  the piece    space  the description  property type          The price  governorate    Notes

In [233]:
new_df=df.iloc[0:78,:]
new_df.replace(np.nan,'')
new_df.to_csv("csv_files\\01-09-05-09-2019.csv",index=False)

In [236]:
df2[0].to_csv("csv_files\\01-09-05-09-2019_conca.csv",index=False)

In [ ]:
df.replace(np.nan,'')

                       the_site      the_piece    space  the_description  property_type          The_price  governorate    Notes
0                         Fatty              5    487.5            House        Special        550,000.000            1
1                          Doha              2    357.5            House        Special        178,000.000            1
2                      the East              7     1000         building     investment  6,700,000,000,000            1
3                     Al-Fayha'              6      750            House        Special        720,000.000            1
4                     Qadisiyah              8      500            House        Special        450,000.000            1
5                    Mansourieh              2     1000            House        Special      1,100,000,000            1
6                Jaber Al-Ahmad              5      400            House        Special        275,000,000            1
7                Jaber Al-Ahmad              7      400            House        Special        220,000.000            1
8                Jaber Al-Ahmad              5      400            House        Special        295,000.000            1
9                       Granada              1     1316             Land        Special      1,050,000.000            1
10                      Granada              1     1543            House        Special      1,050,000.000            1
11                      Granada              2    458.5            House        Special        300,000,000            1
12                      Cordoba              2      551             Land        Special        460,000.000            1
13                      Cordoba              2      510            House        Special        475,000.000            1
15                     the site      the piece    space  the description  property type          The price  governorate    Notes
16                      Jabriya              9      600            House        Special        388,000.000            2
17                      Jabriya              _   102.26        apartment     investment        105,000,000            2
18                   Rumaithiya              6  321.428            House        Special        214,285.700            2  rumored
19                        Zahra              3      500             Land        Special        480,000,000            2
20                      Salmiya              _      815         building     investment  1,200,000,000,000            2
21                      Salmiya            185      785         building     investment        805,628,000            2
22                      Salmiya             70     1005         building     investment  1,500,000,000,000            2
23                      Salmiya              _    100.5        apartment     investment        100,000.000            2
24                      Salmiya              _    100.5        apartment     investment         96,000,000            2
25                      Salmiya             45    12000          complex     commercial     64,000,000.000            2
26                        Peace              6      450            House        Special    625,000,000,000            2
27                      Martyrs              1      390            House        Special        408,000.000            2
28                     statment             11      300            House        Special        200,000,000            2
29                     statment              9      300            House        Special        260,000.000            2
30                       Hittin              1      375            House        Special        510,000.000            2
31                       Hittin              3      375            House        Special        375,000.000            2
32                        Salwa              2    504.5            House        Special    355,000,000,000            2  rumored
33                        Salwa              4    626.8            House        Special        650,000.000            2
34                   Supervisor              5      750            House        Special        480,000,000            2
36                     the site      the piece    space  the description  property type          The price  governorate    Notes
37                Abraq Khaitan              5      600            House        Special        280,000,000            3
42                      Al-Raqi             13      500         building     investment      1,056,352,000            3
43                      Al-Raqi             13      500         building     investment      1,056,352,000            3
44                          age              1      600            House        Special        420,000.000            3
45                     paradise              8      301            House        Special        190,000,000            3
46                     paradise              6      301            House        Special        205,000,000            3
47            Jleeb Al-Shuyoukh             14      400            House        Special        270,000,000            3
48                      Khaitan              9     1155         building     investment  1,800,000,000,000            3
50                     the site      the piece    space  the description  property type          The price  governorate    Notes
51                   Abu Fatira              1      400             Land        Special        370,000,000            4
52                   Abu Fatira             10      750             Land        Special        610,000.000            4
53                  Al-Fnaitees              1      400             Land        Special        275,000,000            4
54                  Al-Fnaitees              8      400             Land        Special        415,000.000            4
55                       spouse              2      400            House        Special        239,000.000            4
56                       flumes              2      500             Land        Special        292,000.000            4
57                       flumes              2      500             Land        Special        292,000.000            4
58                       flumes              2      500             Land        Special        332,000,000            4
59                       flumes              5      400             Land        Special        330,000,000            4
60                       flumes              2      500             Land        Special        292,000.000            4
61                       flumes              2      500             Land        Special        282,000,000            4
62                       flumes              2      500             Land        Special        282,000,000            4
63                       flumes              5      400             Land        Special        330,000,000            4
64                       flumes              1      500             Land        Special        350,000.000            4
65               Sabah Al-Salem              _    109.5        apartment     investment        110,000.000            4
67                     the site      the piece    space  the description  property type          The price  governorate    Notes
68                      morning              4  215.789            House        Special        197,807.006            5  rumored
94          Sabah Al-Ahmad Navy              _      402             Land        Special         80,000,000            5
95          Sabah Al-Ahmad Navy              _      450             Land        Special        165,000,000            5
96          Sabah Al-Ahmad Navy              _      500            House        Special    345,000,000,000            5
97          Sabah Al-Ahmad Navy              _   44.864             Shop     commercial         48,000,000            5
98          Sabah Al-Ahmad Navy              _   50,564             Shop     commercial         54,000.000            5
99          Sabah Al-Ahmad Navy              _   32.955             Shop     commercial         45,000,000            5
100         Sabah Al-Ahmad Navy              _   35.317             Shop     commercial        110,000.000            5
101         Sabah Al-Ahmad Navy              _   34.943             Shop     commercial        100,000.000            5
102         Sabah Al-Ahmad Navy              _   33.542             Shop     commercial         57,000,000            5
103  Sabah Al-Ahmad Residential              2      600            House        Special        160,000.000            5
104  Sabah Al-Ahmad Residential              2      600            House        Special        176,000,000            5
105  Sabah Al-Ahmad Residential              4      600            House        Special        242,000,000            5
106  Sabah Al-Ahmad Residential              2      600            House        Special        199,000.000            5
107          Ali Sabah Al Salem              8      400            House        Special        162,000,000            5
108              Fahad Al-Ahmad              4      400            House        Special        305,000,000            5
109                     Present              1     1000             Land        Special        430,000,000            5
110                     Present              5      400            House        Special        275,000,000            5
112                    the site      the piece    space  the description  property type          The price  governorate    Notes
113                    the eyes              4   297.68            House        Special        165,500,000            6
119             the description      The price     note
120                        Land  000.000,001,0
121                        Land  000.000,001,0
122                        Land  000.000,001,0
123                        Land  000.000,001,0
124                        Land  000.000,001,0
125                        Land  000.000,001,0
126                       House    000.000,035
127                       House    000.000,040
128                        Land        500.000

In [242]:
new_df['date_from']='01-09-2019'
new_df['date_to']='05-09-2019'

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy [1232790371.py:1]
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy [1232790371.py:2]

In [243]:
new_df

                      the_site  the_piece    space  the_description  property_type          The_price  governorate    Notes              date   date_from     date_to
0                        Fatty          5    487.5            House        Special        550,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
1                         Doha          2    357.5            House        Special        178,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
2                     the East          7     1000         building     investment  6,700,000,000,000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
3                    Al-Fayha'          6      750            House        Special        720,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
4                    Qadisiyah          8      500            House        Special        450,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
5                   Mansourieh          2     1000            House        Special      1,100,000,000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
6               Jaber Al-Ahmad          5      400            House        Special        275,000,000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
7               Jaber Al-Ahmad          7      400            House        Special        220,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
8               Jaber Al-Ahmad          5      400            House        Special        295,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
9                      Granada          1     1316             Land        Special      1,050,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
10                     Granada          1     1543            House        Special      1,050,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
11                     Granada          2    458.5            House        Special        300,000,000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
12                     Cordoba          2      551             Land        Special        460,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
13                     Cordoba          2      510            House        Special        475,000.000            1      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
14                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-05-09-2019  01-09-2019  05-09-2019
15                     Jabriya          9      600            House        Special        388,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
16                     Jabriya          _   102.26        apartment     investment        105,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
17                  Rumaithiya          6  321.428            House        Special        214,285.700            2  rumored  01-09-05-09-2019  01-09-2019  05-09-2019
18                       Zahra          3      500             Land        Special        480,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
19                     Salmiya          _      815         building     investment  1,200,000,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
20                     Salmiya        185      785         building     investment        805,628,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
21                     Salmiya         70     1005         building     investment  1,500,000,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
22                     Salmiya          _    100.5        apartment     investment        100,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
23                     Salmiya          _    100.5        apartment     investment         96,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
24                     Salmiya         45    12000          complex     commercial     64,000,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
25                       Peace          6      450            House        Special    625,000,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
26                     Martyrs          1      390            House        Special        408,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
27                    statment         11      300            House        Special        200,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
28                    statment          9      300            House        Special        260,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
29                      Hittin          1      375            House        Special        510,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
30                      Hittin          3      375            House        Special        375,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
31                       Salwa          2    504.5            House        Special    355,000,000,000            2  rumored  01-09-05-09-2019  01-09-2019  05-09-2019
32                       Salwa          4    626.8            House        Special        650,000.000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
33                  Supervisor          5      750            House        Special        480,000,000            2      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
34                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-05-09-2019  01-09-2019  05-09-2019
35               Abraq Khaitan          5      600            House        Special        280,000,000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
36                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
37                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
38                         age          1      600            House        Special        420,000.000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
39                    paradise          8      301            House        Special        190,000,000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
40                    paradise          6      301            House        Special        205,000,000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
41           Jleeb Al-Shuyoukh         14      400            House        Special        270,000,000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
42                     Khaitan          9     1155         building     investment  1,800,000,000,000            3      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
43                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-05-09-2019  01-09-2019  05-09-2019
44                  Abu Fatira          1      400             Land        Special        370,000,000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
45                  Abu Fatira         10      750             Land        Special        610,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
46                 Al-Fnaitees          1      400             Land        Special        275,000,000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
47                 Al-Fnaitees          8      400             Land        Special        415,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
48                      spouse          2      400            House        Special        239,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
49                      flumes          2      500             Land        Special        292,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
50                      flumes          2      500             Land        Special        292,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
51                      flumes          2      500             Land        Special        332,000,000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
52                      flumes          5      400             Land        Special        330,000,000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
53                      flumes          2      500             Land        Special        292,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
54                      flumes          2      500             Land        Special        282,000,000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
55                      flumes          2      500             Land        Special        282,000,000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
56                      flumes          5      400             Land        Special        330,000,000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
57                      flumes          1      500             Land        Special        350,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
58              Sabah Al-Salem          _    109.5        apartment     investment        110,000.000            4      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
59                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-05-09-2019  01-09-2019  05-09-2019
60                     morning          4  215.789            House        Special        197,807.006            5  rumored  01-09-05-09-2019  01-09-2019  05-09-2019
61         Sabah Al-Ahmad Navy          _      402             Land        Special         80,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
62         Sabah Al-Ahmad Navy          _      450             Land        Special        165,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
63         Sabah Al-Ahmad Navy          _      500            House        Special    345,000,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
64         Sabah Al-Ahmad Navy          _   44.864             Shop     commercial         48,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
65         Sabah Al-Ahmad Navy          _   50,564             Shop     commercial         54,000.000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
66         Sabah Al-Ahmad Navy          _   32.955             Shop     commercial         45,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
67         Sabah Al-Ahmad Navy          _   35.317             Shop     commercial        110,000.000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
68         Sabah Al-Ahmad Navy          _   34.943             Shop     commercial        100,000.000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
69         Sabah Al-Ahmad Navy          _   33.542             Shop     commercial         57,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
70  Sabah Al-Ahmad Residential          2      600            House        Special        160,000.000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
71  Sabah Al-Ahmad Residential          2      600            House        Special        176,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
72  Sabah Al-Ahmad Residential          4      600            House        Special        242,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
73  Sabah Al-Ahmad Residential          2      600            House        Special        199,000.000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
74          Ali Sabah Al Salem          8      400            House        Special        162,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
75              Fahad Al-Ahmad          4      400            House        Special        305,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
76                     Present          1     1000             Land        Special        430,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019
77                     Present          5      400            House        Special        275,000,000            5      NaN  01-09-05-09-2019  01-09-2019  05-09-2019

In [246]:
new_df

                      the_site  the_piece    space  the_description  property_type          The_price  governorate    Notes   date_from     date_to
0                        Fatty          5    487.5            House        Special        550,000.000            1      NaN  01-09-2019  05-09-2019
1                         Doha          2    357.5            House        Special        178,000.000            1      NaN  01-09-2019  05-09-2019
2                     the East          7     1000         building     investment  6,700,000,000,000            1      NaN  01-09-2019  05-09-2019
3                    Al-Fayha'          6      750            House        Special        720,000.000            1      NaN  01-09-2019  05-09-2019
4                    Qadisiyah          8      500            House        Special        450,000.000            1      NaN  01-09-2019  05-09-2019
5                   Mansourieh          2     1000            House        Special      1,100,000,000            1      NaN  01-09-2019  05-09-2019
6               Jaber Al-Ahmad          5      400            House        Special        275,000,000            1      NaN  01-09-2019  05-09-2019
7               Jaber Al-Ahmad          7      400            House        Special        220,000.000            1      NaN  01-09-2019  05-09-2019
8               Jaber Al-Ahmad          5      400            House        Special        295,000.000            1      NaN  01-09-2019  05-09-2019
9                      Granada          1     1316             Land        Special      1,050,000.000            1      NaN  01-09-2019  05-09-2019
10                     Granada          1     1543            House        Special      1,050,000.000            1      NaN  01-09-2019  05-09-2019
11                     Granada          2    458.5            House        Special        300,000,000            1      NaN  01-09-2019  05-09-2019
12                     Cordoba          2      551             Land        Special        460,000.000            1      NaN  01-09-2019  05-09-2019
13                     Cordoba          2      510            House        Special        475,000.000            1      NaN  01-09-2019  05-09-2019
14                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-2019  05-09-2019
15                     Jabriya          9      600            House        Special        388,000.000            2      NaN  01-09-2019  05-09-2019
16                     Jabriya          _   102.26        apartment     investment        105,000,000            2      NaN  01-09-2019  05-09-2019
17                  Rumaithiya          6  321.428            House        Special        214,285.700            2  rumored  01-09-2019  05-09-2019
18                       Zahra          3      500             Land        Special        480,000,000            2      NaN  01-09-2019  05-09-2019
19                     Salmiya          _      815         building     investment  1,200,000,000,000            2      NaN  01-09-2019  05-09-2019
20                     Salmiya        185      785         building     investment        805,628,000            2      NaN  01-09-2019  05-09-2019
21                     Salmiya         70     1005         building     investment  1,500,000,000,000            2      NaN  01-09-2019  05-09-2019
22                     Salmiya          _    100.5        apartment     investment        100,000.000            2      NaN  01-09-2019  05-09-2019
23                     Salmiya          _    100.5        apartment     investment         96,000,000            2      NaN  01-09-2019  05-09-2019
24                     Salmiya         45    12000          complex     commercial     64,000,000.000            2      NaN  01-09-2019  05-09-2019
25                       Peace          6      450            House        Special    625,000,000,000            2      NaN  01-09-2019  05-09-2019
26                     Martyrs          1      390            House        Special        408,000.000            2      NaN  01-09-2019  05-09-2019
27                    statment         11      300            House        Special        200,000,000            2      NaN  01-09-2019  05-09-2019
28                    statment          9      300            House        Special        260,000.000            2      NaN  01-09-2019  05-09-2019
29                      Hittin          1      375            House        Special        510,000.000            2      NaN  01-09-2019  05-09-2019
30                      Hittin          3      375            House        Special        375,000.000            2      NaN  01-09-2019  05-09-2019
31                       Salwa          2    504.5            House        Special    355,000,000,000            2  rumored  01-09-2019  05-09-2019
32                       Salwa          4    626.8            House        Special        650,000.000            2      NaN  01-09-2019  05-09-2019
33                  Supervisor          5      750            House        Special        480,000,000            2      NaN  01-09-2019  05-09-2019
34                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-2019  05-09-2019
35               Abraq Khaitan          5      600            House        Special        280,000,000            3      NaN  01-09-2019  05-09-2019
36                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN  01-09-2019  05-09-2019
37                     Al-Raqi         13      500         building     investment      1,056,352,000            3      NaN  01-09-2019  05-09-2019
38                         age          1      600            House        Special        420,000.000            3      NaN  01-09-2019  05-09-2019
39                    paradise          8      301            House        Special        190,000,000            3      NaN  01-09-2019  05-09-2019
40                    paradise          6      301            House        Special        205,000,000            3      NaN  01-09-2019  05-09-2019
41           Jleeb Al-Shuyoukh         14      400            House        Special        270,000,000            3      NaN  01-09-2019  05-09-2019
42                     Khaitan          9     1155         building     investment  1,800,000,000,000            3      NaN  01-09-2019  05-09-2019
43                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-2019  05-09-2019
44                  Abu Fatira          1      400             Land        Special        370,000,000            4      NaN  01-09-2019  05-09-2019
45                  Abu Fatira         10      750             Land        Special        610,000.000            4      NaN  01-09-2019  05-09-2019
46                 Al-Fnaitees          1      400             Land        Special        275,000,000            4      NaN  01-09-2019  05-09-2019
47                 Al-Fnaitees          8      400             Land        Special        415,000.000            4      NaN  01-09-2019  05-09-2019
48                      spouse          2      400            House        Special        239,000.000            4      NaN  01-09-2019  05-09-2019
49                      flumes          2      500             Land        Special        292,000.000            4      NaN  01-09-2019  05-09-2019
50                      flumes          2      500             Land        Special        292,000.000            4      NaN  01-09-2019  05-09-2019
51                      flumes          2      500             Land        Special        332,000,000            4      NaN  01-09-2019  05-09-2019
52                      flumes          5      400             Land        Special        330,000,000            4      NaN  01-09-2019  05-09-2019
53                      flumes          2      500             Land        Special        292,000.000            4      NaN  01-09-2019  05-09-2019
54                      flumes          2      500             Land        Special        282,000,000            4      NaN  01-09-2019  05-09-2019
55                      flumes          2      500             Land        Special        282,000,000            4      NaN  01-09-2019  05-09-2019
56                      flumes          5      400             Land        Special        330,000,000            4      NaN  01-09-2019  05-09-2019
57                      flumes          1      500             Land        Special        350,000.000            4      NaN  01-09-2019  05-09-2019
58              Sabah Al-Salem          _    109.5        apartment     investment        110,000.000            4      NaN  01-09-2019  05-09-2019
59                    the site  the piece    space  the description  property type          The price  governorate    Notes  01-09-2019  05-09-2019
60                     morning          4  215.789            House        Special        197,807.006            5  rumored  01-09-2019  05-09-2019
61         Sabah Al-Ahmad Navy          _      402             Land        Special         80,000,000            5      NaN  01-09-2019  05-09-2019
62         Sabah Al-Ahmad Navy          _      450             Land        Special        165,000,000            5      NaN  01-09-2019  05-09-2019
63         Sabah Al-Ahmad Navy          _      500            House        Special    345,000,000,000            5      NaN  01-09-2019  05-09-2019
64         Sabah Al-Ahmad Navy          _   44.864             Shop     commercial         48,000,000            5      NaN  01-09-2019  05-09-2019
65         Sabah Al-Ahmad Navy          _   50,564             Shop     commercial         54,000.000            5      NaN  01-09-2019  05-09-2019
66         Sabah Al-Ahmad Navy          _   32.955             Shop     commercial         45,000,000            5      NaN  01-09-2019  05-09-2019
67         Sabah Al-Ahmad Navy          _   35.317             Shop     commercial        110,000.000            5      NaN  01-09-2019  05-09-2019
68         Sabah Al-Ahmad Navy          _   34.943             Shop     commercial        100,000.000            5      NaN  01-09-2019  05-09-2019
69         Sabah Al-Ahmad Navy          _   33.542             Shop     commercial         57,000,000            5      NaN  01-09-2019  05-09-2019
70  Sabah Al-Ahmad Residential          2      600            House        Special        160,000.000            5      NaN  01-09-2019  05-09-2019
71  Sabah Al-Ahmad Residential          2      600            House        Special        176,000,000            5      NaN  01-09-2019  05-09-2019
72  Sabah Al-Ahmad Residential          4      600            House        Special        242,000,000            5      NaN  01-09-2019  05-09-2019
73  Sabah Al-Ahmad Residential          2      600            House        Special        199,000.000            5      NaN  01-09-2019  05-09-2019
74          Ali Sabah Al Salem          8      400            House        Special        162,000,000            5      NaN  01-09-2019  05-09-2019
75              Fahad Al-Ahmad          4      400            House        Special        305,000,000            5      NaN  01-09-2019  05-09-2019
76                     Present          1     1000             Land        Special        430,000,000            5      NaN  01-09-2019  05-09-2019
77                     Present          5      400            House        Special        275,000,000            5      NaN  01-09-2019  05-09-2019

In [248]:
new_df.to_csv("csv_files\\01-09-05-09-2019.csv",index=False)

In [252]:
the_pdf=pd.concat([new_df,df2[0]],axis=0,join='outer',ignore_index=True)

In [255]:
the_pdf=the_pdf.replace(np.nan,'')
the_pdf

In [28]:
pd.set_option('display.unicode.east_asian_width', True)

In [35]:
path = r'E:/python projects/pdf_scrapping_task/transilated/*.pdf'
for filename in glob.glob(path):
      print(os.path.splitext(filename)[1].replace('0',"",3))
      tables=tab.read_pdf(filename,multiple_tables=True,pages='all')
      for table in tables:
         table['date']=pd.Series(os.path.split(filename)[1])
         table=table.loc[:,~table.columns.str.startswith('Unnamed:')]
         table.columns=table.columns.str.replace(' ','_').str.strip(' ')
      df0=pd.concat(tables,axis=0,join='outer')
      df0.to_csv(r'csv_files/{}.csv'.format(os.path.split(filename)[1]),index=False)

.pdf
.pdf
.pdf